@charset "UTF-8";
/* CSS Document */

html,
body {
  margin: 0px;
  background: url("../img/symphony.png") repeat;
  /* Background image from http://subtlepatterns.com/ */
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: darkcyan;
  text-decoration: underline;
  font-size: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 36px;
}

#apple-shelf {
  width: 75%;
  background-color: lightcoral;
  border-radius: 25px;
  height: 100px;
  margin-top: 150px;
  margin-bottom: 50px;
}

#orange-shelf {
  width: 75%;
  background-color: orange;
  border-radius: 25px;
  height: 100px;
  margin-bottom: 150px;
  margin-top: 50px;
}
